* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

.w {
    width: 1200px;   
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

i,
em {
    font-style: normal;
}

i {
    font-family: 'icomoon';
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.no_margin {
    margin: 0 !important;
}

